/* ......... *//* ........Body...... *//* ......... */
h1, h2, h3, h4, h5, h6, p, p.h2, p.h4, .h4, a, span, p.display-4, h4.card-title, h2.category-text {
    font-family: 'Trebuchet-MS' !important;
}


/* ......... *//* ....Customized Styles.... *//* ......... */
/* Tag Selector */
/* HR */
hr.gradient {
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.styled {
    border: 6px dotted orangered;
    border-bottom: none;
    margin: 5px auto;
    width: 5%;
}

hr.footer {
  border: 4px solid orangered;
  border-bottom: none;
  margin-left: 130px;
  margin-top: 1px;
  width: 9%;
}

hr.blog {
  width: 100%;
  position: relative;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

hr.blog::before {
  background-color: orangered;
  content: "";
  height: 2px;
  position: absolute;
  width: 15%;
}

/* Links */
a:hover {
  text-decoration: none !important;
}

a.tdn {
  text-decoration: none;
}

a.tdn:hover {
  color: orangered !important;
}

a.lead.font-weight-bold.text-dark.tdn:hover {
  color: orangered !important;
}

ul.nav > li.nav-item > a.nav-link:hover {
  text-shadow: 10px 10px 10px black;
  font-size: 2rem;
}

ul.list-unstyled.lead li a.text-white:hover {
  text-decoration: none;
  font-size: 23px;
}

/* Box Shadow */
div.shadow {
    box-shadow: 10px 10px 10px black;
}


/* Class Selector */
.fontStyle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.myTextColor {
    color: orange;
}

.orange {
    background: orange;
}


/* ......... *//* Main-Contents *//* ......... */
/* NavBar */
div a img {
    height: 30px;
    width: 30px;
}

@media (max-width: 648px) {
  #current-page-detail {
    width: 55% !important;
  }
}

@media (min-width: 648px) and (max-width: 1040px) {
  #current-page-detail {
    width: 40% !important;
  }
}

/* @media all and (max-width: 1080px) {
  #current-page-detail {
    width: 50% !important;
  }
} */

/* Animation */
.animate {
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {color: white;}
    25% {color: orange;}
    50% {color: orangered;}
    75% {color: plum;}
    100% {color: red;}
}

/* Login Form */
/* The Modal (bg) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content/Box for Login form */
  .modal-content-login {
      background-color: transparent;
      margin: 3% auto; /* 3% from the top and centered */
      width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  div#formFooter.row div.col-md-6 a:hover {
    text-decoration: none;
  }

/* ......... *//* Home Page */
/* Advisory Team */
.team-bg {
  background: url(../img/bg-5.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.team-main .team_info h3 {
  margin: 0;
  font-weight: 600;
}

.team-main .team_name {
  font-size: 22px;
  font-weight: 600;
  color: #232020;
  text-transform: capitalize;
  line-height: 32px;
  margin: 0;
}

.team-main .team_name:hover {
  color: #ff7315;
}

.team-main span.team_role {
  margin: 0;
  color: #6b778d;
}

.team-main img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.team-main img:hover {
  opacity: 0.9;
}

.team-main h4.team_phone {
  font-size: 22px;
  text-transform: capitalize;
  line-height: 32px;
  color: #3a3535;
}

.team-main .team_info {
  text-align: center;
}

.team-main .team span.info {
  text-transform: uppercase;
  font-weight: 600;
  color: #ff7315;
  font-size: 16px;
}

.team-main .team_info {
  text-align: center;
  bottom: 30px;
  left: 40px;
  right: 40px;
  background: #fff;
  padding: 20px 10px;
  border-radius: 6px;
}

.team-main ul.team-social li {
  margin: 0 5px;
  display: inline-block;
}

.team-main ul.team-social li a {
  color: #232020;
}

.team-main ul.team-social li a:hover {
  color: #ff7315;
}

.team-main ul.team-social li a span.fa {
  font-size: 15px;
  margin-right: 6px;
}

.team-main .team-wrapper img {
  width: 100%;
}


/* ......... *//* What We Do */
/* Portfolio */
.portfolio-item {
    position: relative;
}

.portfolio-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
}

.img-text .caption {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text:hover .caption {
    font-weight: 600;
    color: white;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* Boot Camp */
.bc-bg {
  background: url(../img/bg3.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

/* ......... *//* Get Tutor */
#more {
    display: none;
}


/* ......... *//* About Us */
/* What We Do */
  .features-4 .features4-block {
    background: #f4f4f4;
  }
  
  .features-4 .features4-grid-inn {
    padding: 40px 20px;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
  }
  
  .features-4 .features4-grid-inn h5>a {
    text-decoration: none;
   }

  .features-4 .features4-grid-inn:hover {
    background: #f8e2d3;
  }
  
  .features-4 .features4-grid-inn:hover p {
    color: orange;
  }
  
  .features-4 .features4-block h6 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    color: #ff7315;
  }
  
  .features-4 p.what-para {
    font-size: 20px;
    width: 66%;
    margin: 0 auto;
  }
  
  .features-4 .features4-grid h5 a {
    font-size: 22px;
    line-height: 25px;
    color: #232020;
    display: block;
    text-transform: capitalize;
    margin: 0px 0 12px 0;
    font-weight: 600;
  }
  
  .features-4 .features4-grid p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 0;
  }
  
  .features-4 span.fa.icon-fea4 {
    font-size: 50px;
    margin-bottom: 16px;
    color: #ff7315;
  }

  h3.hny-title span {
    color: orange;
  }

  h3.hny-title {
    font-size: 40px;
    line-height: 50px;
    color: #232020;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  @media all and (max-width: 1080px) {
    .features-4 .features4-grid h5 a {
      font-size: 18px;
      line-height: 20px;
      margin: 0px 0 10px 0;
    }
  }
  
  @media all and (max-width: 991px) {
    .features-4 p.what-para {
      font-size: 16px;
      width: 80%;
      margin: 0 auto;
    }
  
    .features-4 .features4-grid {
      margin-bottom: 2em;
    }
  }
  
  @media all and (max-width: 600px) {
    .features-4 p.what-para {
      width: 100%;
      margin: 0 auto;
    }
  }



/* ......... *//* Blog */
/* Post */
.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.post {
    margin-bottom: 20px;
}

.quote {
    border-left: 5px solid orange;
    padding-left: 5px;
}

/* Stick to Top */
.stickyTop {
  position: sticky !important;
}



/*........................... Footer .............................*/
.footer-link:hover {
    border-radius: 15%;
    border: 1px solid orange;
}

.helpSocial:hover {
    border-radius: 15%;
    border: 1px solid white;
}


/* ..........Media Query_Responsiveness............ */
/* For mobile screens of 768px and below */
  /* ......navBar & Brand...... */
  @media (max-width: 768px) {
    /* .....motto..... */
    div#home p.brand {
      font-size: 55px !important;
    }

    div#home p img {
      height: 50px; 
      width: 50px;
    }

    div#motto {
      width: 100% !important;
      padding: 0;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }

    /* navToggle & Content */
    #navButton {
      position: static;
      background-color: orange;
      margin-left: auto;
      margin-right: auto;
    }

    #navList {
      margin: 0 auto;
      align-content: center;
      padding-top: 15px;
    }

    #navList li a {
      margin: 0 auto;
      align-content: center;
      text-align: center;
      font-size: 20px !important;
    }

    #navList li a:hover {
      font-size: 25px !important;
    }

    /* .....Login Form..... */
    div.modal {
      overflow: auto;
      width: 100%;
      height: 100%; 
      margin-right: auto !important;
    }

    div#formCasing {
      width: 100% !important;
      padding: 0 !important;
    }

    div#formCasing-sm.container {
      width: 100% !important;
      padding: 15px !important;
      margin: 15px !important;
    }

    div#formCasing div#formCasing-sm form.p-5 {
      padding: 0 !important;
      margin-top: 0 !important;
    }

    div.imgLoginClose span img {
      margin-right: auto !important;
      margin-left: auto !important;
      margin-top: 0 !important;
      height: 60px;
      width: 60px;
      padding: 0 !important;
    }

    div#mcl.modal-content-login {
      width: 100% !important;
      padding: 0 !important;
    }

    .close {
      float: none;
      text-align: center;
    }

    div.formContent p.dn {
      display: none;
    }

    div#formFooter.row {
      justify-content: center;
      display: inline !important;
      width: 100% !important;
      font-size: 15px;
      text-align: center;
      padding: 0 !important;
      margin: 0 !important;
    }

    div#formFooter.row .col-md-6 a:hover {
      text-decoration: none;
    }

    div#formFooter.row div.col-md-6 {
      justify-content: center;
      display: inline !important;
      width: 100% !important;
      font-size: 20px;
      text-align: center;
      padding: 0 !important;
      margin: 0 !important;
    }

    div#formFooter.row.dib div.pad {
      margin-right: 20px !important;
    }

    div#formFooter.row div.pad {
      margin-right: 40px !important;
    }

    div#formFooter.row.dib {
      display: inline-block !important;
    }

    div.form-group input.form-control {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    input {
      width: 90%;
      padding: 0;
      margin: 0;
    }

    /* What We Do */
    div#showCase-sm.orange {
      height: 1100px !important;
    }

    div#showCase-sm div.py-5 h2.heading {
      font-size: 25px !important;
    }

    div.colCont {
      margin-right: 15px;
      margin-left: 15px;
    }   

    p.animate {
      font-size: 40px !important;
    }

    /* What We Do Page */
    h1.text-center.heading-bg.pt-5.pb-2.text-danger {
      font-size: 30px;
    }

    div.features4-grids.text-center.row.mt-5 {
      margin-left: 15px;
      margin-right: 15px;
    }

    div.container.chng {
      width: 100% !important;
    }

    div.container.chng a.disabled {
      margin-left: 150px;
    }

    div#regComp.py-5 div.container {
      width: 100% !important;
    }

    /* Advisory Board */
    section.team-main h1.adB {
      font-size: 30px;
      margin-top: 90px !important;
    }

    section.team-main div.team-row {
      margin-left: 15px;
      margin-right: 15px;
    }

    section.team-main div.team-row div.team-wrapper a  img {
      height: 90%;
    }

    /* Consultation */
    div.orange div.text-center h3 {
      margin-right: auto;
      margin-left: auto;
    }
    
    /* Contact Us */
    div.btnCont-resize {
      width: 50% !important;
    }

    div.container.cf {
      width: 100% !important;
    }

    p.display-3.ct {
      font-size: 60px !important;
    }

    p.frd {
      font-size: 40px !important;
    }

    /* Get a Tutor */
    div.bg-light div.policies {
      width: 100% !important;
    }

    div.container-fluid.py-5.orange.text-white div.container.pt-5 div.pb-5.how {
      display: none;
    }

    div.col-md-6.pt-lg-3.pd {
      position: relative;
    }

    div.col-md-6.pt-lg-3.zid {
      position: absolute;
      z-index: 1;
    }

    div.col-md-6.pt-lg-3.imgPD.pd {
      margin-top: 225px;
    }

    div.col-md-6.pt-lg-3.imgPD.pd.pdmore {
      margin-top: 305px;
    }

    div.col-md-6 img.shadow.border.border-white.rounded.imgResize {
      width: 25rem !important;
      height: 17rem !important;
      margin-top:30px;
      margin-left: 20px;
    }

    p.h4.text-justify.pt-4.pl-5.padText {
      padding-right: 15px;
      font-size: 22px;
    }
    
  }


  /* For mobile screens of 991px and below */
  @media (min-width: 769px) and (max-width: 991px) {
     /* .....motto..... */
     div#home p.brand {
      font-size: 70px !important;
    }

    div#home p img {
      height: 60px; 
      width: 60px;
    }

    div#motto {
      width: 100% !important;
      padding: 0;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }

    /* navToggle & Content */
    #navButton {
      position: static;
      background-color: orange;
      margin-left: auto;
      margin-right: auto;
    }

    #navList {
      margin: 0 auto;
      align-content: center;
      padding-top: 15px;
    }

    #navList li a {
      margin: 0 auto;
      align-content: center;
      text-align: center;
      font-size: 23px !important;
    }

    #navList li a:hover {
      font-size: 25px !important;
    }

    /* .....Login Form..... */
    div.modal {
      overflow: auto;
      width: 100%;
      height: 100%; 
      margin-right: auto !important;
    }

    div#formCasing {
      width: 100% !important;
      padding: 0 !important;
    }

    div#formCasing-sm.container {
      width: 70% !important;
    }

    div#formCasing div#formCasing-sm form.p-5 {
      padding: 25px !important;
      margin-top: 0 !important;
    }

    div.imgLoginClose span img {
      margin-right: auto !important;
      margin-left: auto !important;
      margin-top: 0 !important;
      height: 70px;
      width: 70px;
      padding: 0 !important;
    }

    div#mcl.modal-content-login {
      width: 100% !important;
      padding: 0 !important;
    }

    .close {
      float: none;
      text-align: center;
    }

    div#formFooter.row {
      justify-content: center;
      display: inline !important;
      width: 100% !important;
      font-size: 15px;
      text-align: center;
      padding: 0 !important;
      margin: 0 !important;
    }

    div#formFooter.row .col-md-6 a:hover {
      text-decoration: none;
    }

    div#formFooter.row div.col-md-6 {
      justify-content: center;
      display: inline !important;
      width: 100% !important;
      font-size: 20px;
      text-align: center;
      padding: 0 !important;
      margin: 0 !important;
    }

    div#formFooter.row.dib div.pad {
      margin-right: 80px !important;
    }

    div#formFooter.row div.pad {
      margin-right: 120px !important;
    }

    div#formFooter.row.dib {
      display: inline-block !important;
    }

    div.form-group input.form-control {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    input {
      width: 90%;
      padding: 0;
      margin: 0;
    }

    /* What We Do */
    div#showCase-sm.orange {
      height: 850px !important;
    }

    div#showCase-sm div.py-5 h2.heading {
      font-size: 30px !important;
    }

    p.animate {
      font-size: 40px !important;
    }

    div.card.shadow.border.border-light.bg-warning.p-3.col-lg-4.col-md-6.cenLast {
      margin-left: auto;
      margin-right: auto;
    }

    /* Advisory Board */
    section.team-main h1.adB {
      font-size: 35px;
    }

    section.team-main div.team-row {
      margin-left: 15px;
      margin-right: 15px;
    }

    section.team-main div.team-row div.cenLast {
      margin-left: auto;
      margin-right: auto; 
    }

    /* Consultation */
    div.orange div.text-center h3 {
      margin-right: auto;
      margin-left: auto;
    }
    
    /* Contact Us */
    p.frd {
      font-size: 40px !important;
    }

    /* Get a Tutor */
    div.container-fluid.py-5.orange.text-white div.container.pt-5 {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    div.col-md-6.pt-lg-3 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }


    /* (Pre) Footer */
    div.container-fluid.orange.py-5.shadow div.row.p-5.shadow.container.mx-auto {
      padding: 0 !important;
    }

    div.container-fluid.orange.py-5.shadow div.row.p-5.shadow.container.mx-auto div.addSHD {
      box-shadow: 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
    }
    
    div.container-fluid.orange.py-5.shadow div.row.p-5.shadow.container.mx-auto div.cenLast {
      margin-right: auto;
      margin-left: auto;
    }
  }


  /* For mobile screens of 1400px and below */
  @media (min-width: 991px) and (max-width: 1400px) {
      /* .....Login Form..... */
      div#formCasing {
        margin: 5px 50px !important;
      }
  
    div.formContent {
      padding: 50px !important;
    }

      div.imgLoginClose {
        margin-right: auto !important;
        margin-left: auto !important;
        padding-right: auto !important;
        padding-left: auto !important;
      }
      
      .modal-content-login{
        width: 100% !important;
      }
      
      .close {
        float: none;
        text-align: center;
      }
      
      #formFooter .col-md-6 {
        justify-content: center;
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 0;
        margin: 0;
      }
      
      input {
        width: 90%;
        padding: 0;
        margin: 0;
      }
  }